<div class="row">
  <div class="large-4 columns"></div>
  <div class="large-8 columns hand-written">
    <%= link_to 'Say something nice', new_wish_path %>
  </div>
</div>


<% @wishes.each do |wish| %>
  <div class="all_wishes">
    <div class="row">
      <div class="large-1 columns hand-written">
        From:
      </div>
      <div class="large-11 columns hand-written">
        <%= wish.from %>
      </div>
    </div>
    <div class="row">
      <div class="large-1 columns"></div>
      <div class="large-11 columns">
        <%=raw wish.wishes %>
      </div>
    </div>
  </div>
<% end %>